.about {
    position: relative;    
    padding-top: 140px;
    background-color: rgb(237, 241, 241);  
    width: 100%;
    height: 100%;
}

.about-item {    
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    text-align: justify;    
    line-height: 1.8;
    letter-spacing: 0.3px;
    padding: 15px 40px 10px 40px;
    margin: 0 auto;
}
.about-item h2 {
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: rgb(73, 73, 73);
}
.about-item p {
    padding-bottom: 15px;
}
.about-item p span {    
    font-weight: 400;
    font-style: normal;    
}
.about-item h5 {
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: rgb(73, 73, 73);
    margin: 0 auto;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 576px) {
    .about-item {    
        padding: 5px 10px;       
    }
}
