.leadership {
    position: relative;
    padding-top: 140px;
    background-color: rgb(235, 233, 233);
    display: block;       
}
.leadership-item {
    position: relative;
    margin: 0 auto;
}
.leadership-item-block {
    position: relative;
    display: flex;    
    align-items: center;   
    padding: 20px;
    border-bottom: 1px solid rgb(214, 210, 210);
}
.leadership-item-block:first-child, 
.leadership-item-block:last-child {
    border-bottom: none;
}
.leadership-item-header {
    padding: 20px 20px 0px 20px;
    font-size: 28px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: rgb(73, 73, 73);
    margin: 0 auto;
}
.leadership-item-photo {
    margin: 0px 40px 10px 40px;
}
.leadership-item-photo img {
    position: relative;
    max-width: 300px;
}
.leadership-item-text {
    position: relative;
}
.leadership-item-text h4 {
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: rgb(73, 73, 73);
}
.leadership-item-text h3{
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: rgb(27, 26, 26);
}
.leadership-item-text p{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}
.leadership-item-text {
    margin-left: 80px;
    padding: 10px;
}
.leadership-item-text span, h3, p {
    padding-bottom: 5px;
}

@media (max-width: 1280px) {
    .leadership-item-text {
        margin-left: 20px;        
    }   
    
}
@media (max-width: 980px) {
    .leadership-item-block {
        position: relative;
        display: flex;
        flex-direction: column;
    }    
    .leadership-item-text {
        margin-left: 0;        
    }
    
    .leadership-item-text h3,
    .leadership-item-text h4 {
        text-align: center;
    }   
}
@media (max-width: 480px) {
    .leadership-item-header p {
        padding: 0;
        font-size: 24px;
        font-weight: 700;
    }  
}