.services {
    position: relative;      
    background-color: rgb(235, 233, 233);
    display: block;        
    width: 100%;
    height: 100%;
}
.services-item {
    padding: 15px 30px;
}

.services-item h2 {
    padding: 25px;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: rgb(73, 73, 73);
}

.services-list > li {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    padding-bottom: 5px;
    margin-left: 10px;
}
